- @academic_week_schedules.each do |academic_week_schedule|
  - academic_week_schedule.academic_day_schedules.each do |academic_day_schedule|
    .modal.fade{id: "academic-day-#{academic_day_schedule.id}", "aria-labelledby" => "mentor-assigment", :role => "dialog", :tabindex => "-1", class: "mentor-assigment"}
      .modal-dialog{:role => "document"}
        .modal-content
          .modal-header
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
              %span{"aria-hidden" => "true"} &times;
            %h4#myModalLabel.modal-title
              = "Mentor para: '#{academic_day_schedule.day.name}'"
          .modal-body
            .row
              .col-md-10.col-md-offset-1
                %table.table
                  %thead
                    %tr
                      %th{colspan:6}
                        Nombre y apellido
                      %th{colspan:2}
                        Accion
                  %tbody
                    - @mentors_typed.each do |type, mentors|
                      %tr
                        %th.text-center{colspan:8}
                          = Mentor.humanize_type type
                      - mentors.each do |mentor|
                        %tr
                          %td{colspan:6}
                            = "#{mentor.user.name} #{mentor.user.last_name}"
                          %td{colspan:2}
                            - if academic_day_schedule.mentor && academic_day_schedule.mentor.id == mentor.id
                              = link_to "Seleccionado", "#", {class:"btn btn-info btn-disabled", disabled:"disabled"}
                            - else
                              = link_to "Seleccionar", assign_mentor_path(academic_day_schedule, mentor), method: 'put', class:"btn btn-primary"
          .modal-footer
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cerrar
            %button.btn.btn-primary{:type => "button"} Guardar
.badges
  #badges_carousel.carousel.slide{"data-ride" => "carousel", "data-interval" => "false"}
    .carousel-inner
      - @academic_week_schedules.each_with_index do |academic_week_schedule, i|
        .item{class: ("active" if i == @current_week_index)}
          - if academic_week_schedule.week.challenge
            .row
              .col-md-12
                = link_to "Proyecto: #{academic_week_schedule.week.challenge.title}", challenge_path(academic_week_schedule.week.challenge), class: 'btn btn-info btn-flat btn-block btn-project'
          .row.week-info
            .col-md-12
              %h1.text-center
                = academic_week_schedule.week.name
                - if current_user.mentor && current_user.mentor.leader?
                  = link_to week_open_path(academic_week_schedule), method:'put' do
                    %span{class:"glyphicon glyphicon-ok-sign", "aria-hidden"=>"true"}
                  = link_to week_close_path(academic_week_schedule), method:'put' do
                    %span{class:"glyphicon glyphicon-remove-sign", "aria-hidden"=>"true"}
              .row.text-center.left-5
                - academic_week_schedule.academic_day_schedules.each do |academic_day_schedule|
                  .day_box{'data-name' => academic_day_schedule.day.name}
                    - if academic_day_schedule.active?
                      = link_to academic_day_path(academic_day_schedule, current_user.mentor ? {tab:"challenge"} : {tab:"requirements"}) do
                        - if current_user.mentor && academic_day_schedule.mentor
                          .mentor-box-off
                            .mentor-name-box
                              - if academic_day_schedule.invited?
                                %span{class:'glyphicon glyphicon-time', 'aria-hidden' => 'true' }
                              - elsif academic_day_schedule.confirmed?
                                %span{class:'glyphicon glyphicon-ok', 'aria-hidden' => 'true' }
                            .mentor-name-box
                              %span{class:'mentor-name'}
                                = "#{academic_day_schedule.mentor.user.name} #{academic_day_schedule.mentor.user.last_name}".truncate(12)
                        .box-off
                          = image_tag 'black_hexagon.png', class: 'off'
                        = image_tag academic_day_schedule.day.image.url
                    - elsif academic_day_schedule.blocked?
                      .box-off
                        = image_tag 'black_hexagon.png', class: 'locked'
                      = image_tag academic_day_schedule.day.image.url
                      - if current_user.mentor
                        = link_to academic_day_path(academic_day_schedule, current_user.mentor ? {tab:"challenge"} : {tab:"requirements"}) do
                          .day_overlay
                            = image_tag "locked.png"
                      - else
                        .day_overlay
                          = image_tag "locked.png"
                    - elsif academic_day_schedule.done?
                      = image_tag academic_day_schedule.day.image.url
                      .day_overlay
                        .box-off
                          = image_tag 'black_hexagon.png', class: 'locked'
                        = image_tag "fullfilled.png", class: 'fullfilled'
                    - else
                      .box-off
                        = image_tag 'black_hexagon.png', class: 'locked'
                      = image_tag "0.png"
                    - if current_user.mentor && current_user.mentor.leader?
                      = link_to "#", {"data-target" => "#academic-day-#{academic_day_schedule.id}", "data-toggle" => "modal", :type => "button"} do
                        %span{class:"glyphicon glyphicon-user", "aria-hidden"=>"true"}
                    %span{class: academic_day_schedule.schedule == DateTime.now.to_date ? 'current-day' : 'normal-day'}
                      = l(academic_day_schedule.schedule, format: '%A %-d %b', locale: 'es').humanize if academic_day_schedule.schedule
                    - if current_user.mentor && current_user.mentor.leader?
                      = link_to academic_days_toggle_path(academic_day_schedule.day), method:'put' do
                        - if academic_day_schedule.active?
                          %span{class:"glyphicon glyphicon-remove-sign", "aria-hidden"=>"true"}
                        - elsif academic_day_schedule.blocked?
                          %span{class:"glyphicon glyphicon-ok-sign", "aria-hidden"=>"true"}
    .text-center
      .badge-title
    #breadcrumb
      %a.next-prev{"data-target" => "#badges_carousel", "data-slide" => "prev"}
        .arrow-left
      %ol.carousel-indicators
        - @academic_week_schedules.each_with_index do |academic_week_schedule, i|
          %li{"data-target" => "#badges_carousel", "data-slide-to" => i, class: ("active" if i == @current_week_index)}
            = i + 1
      %a.next-prev{"data-target" => "#badges_carousel", "data-slide" => "next"}
        .arrow-right