.badges
  .item
    .row
      .col-md-12
        .row.text-center.left-5
          - @days.each do |day|
            .day_box{'data-name' => day.name}
              - if day.active?
                -if @day.id == day.id
                  .box-off
                    = image_tag 'black_hexagon.png', class: 'on'
                  = image_tag day.image.url
                - else
                  = link_to day_path(day.id) do
                    .box-off
                      = image_tag 'black_hexagon.png', class: 'off'
                    = image_tag day.image.url
              - elsif day.blocked?
                .box-off
                  = image_tag 'black_hexagon.png', class: 'locked'
                = image_tag day.image.url
                .day_overlay
                  = image_tag "locked.png"
              - elsif day.done?
                = image_tag day.image.url
                .day_overlay
                  .box-off
                    = image_tag 'black_hexagon.png', class: 'locked'
                  = image_tag "fullfilled.png", class: 'fullfilled'
              - else
                .box-off
                  = image_tag 'black_hexagon.png', class: 'locked'
                = image_tag "0.png"
.content-white
  .container
    %h1.white-title.text-center
      %span.day-title
        = @day.name
      -#%buton.btn.btn-default.btn-xs.day-name-edit
      -#  %span.glyphicon.glyphicon-pencil{'aria-hidden'=>'true'}
    .row
      -if @day.videos.length > 0
        .col-md-4
          .card
            %h3.blue-text.text-center.video-title
              Videos Hack
            %hr
            .card-content
              %ul.nav.nav-stacked
                -@day.videos.each do |vid|
                  %li
                    -if vid.video_file_name
                      =link_to(vid.video.url, target: :blank, class:'day-video-link') do
                        .play-icon
                          =content_tag(:i,nil,class: 'glyphicon glyphicon-play')
                        =vid.name
                    -else
                      =link_to(vid.url, target: :blank, class:'day-video-link') do
                        .play-icon
                          =content_tag(:i,nil,class: 'glyphicon glyphicon-play')
                        =vid.name
      %div{ :class => @day.videos.length > 0 ? "col-md-8" : 'col-md-10 col-md-offset-1' }
        .card
          %ul.nav.day-content-tabs.nav-justified{role:'tablist'}
            %li.active
              %a{href:'#requirements', "data-toggle" => 'tab'}
                Conocimientos Previos
            %li
              %a{href:'#cheatsheets', "data-toggle" => 'tab'}
                CheatSheets
            %li
              %a{href:'#challenge', "data-toggle" => 'tab'}
                Retos
          %hr
          .card-content
            .tab-content
              #requirements{role:'tablist', class: @day.required_knowledge.blank? ? "tab-pane" : "tab-pane active"}
                -if current_user.email == 'mentores@hack4geeks.co'
                  .container-fluid
                    .row
                      .col-md-6
                        = form_tag(day_path, method: "put", id: 'required_knowledge_form') do
                          = text_area_tag 'required_knowledge', @day.required_knowledge, class: 'no-style-textarea'
                      .col-md-6
                        = preserve do
                          = @day.transform_content.required_knowledge.html_safe if @day.required_knowledge
                      .col-md-12
                        = submit_tag("Guardar", class: "btn btn-info btn-flat btn-block", form: 'required_knowledge_form')
                -elsif @day.required_knowledge
                  -if @day.required_knowledge.blank?
                    %h3.text-center
                      ¿Estas preparado?
                      %h4.text-center
                        Revisa la sección de retos y acaba con ellos. Recuerda que la práctica hace al maestro.
                  -else
                    = preserve do
                      = @day.transform_content.required_knowledge.html_safe
                -else
                  %h3.text-center
                    ¿Estas preparado?
                    %h4.text-center
                      Revisa la sección de retos y acaba con ellos. Recuerda que la práctica hace al maestro.
              #cheatsheets.tab-pane{role:'tablist'}
                -if @day.cheatsheet
                  -if @day.cheatsheet.blank?
                    %h3.text-center
                      ¿No recuerdas el comando, o la función?
                      %h4.text-center
                        Los mentores están alli para ayudarte! igualmente, no hay nada de malo en apoyarse en el mejor mentor: Google.
                  -else
                    = preserve do
                      =@day.transform_content.cheatsheet.html_safe
                -else
                  %h3.text-center
                    ¿No recuerdas como se hacía o se escribía?
                    %h4.text-center
                      Los mentores están alli para ayudarte! igualmente, no hay nada de malo en apoyarse en el mejor mentor: Google.
              #challenge{role:'tablist', class: @day.required_knowledge.blank? ? "tab-pane active" : "tab-pane"}
                - if @day.challenges.length > 0
                  .container-fluid
                    .row
                      %h3.text-center
                        Retos en clase
                      - if @day.get_classroom_challenges.length > 0
                        - @day.get_classroom_challenges.each do |challenge|
                          .col-md-4.text-center
                            .challenge-box
                              %h4
                                = challenge.title
                              .image
                                = image_tag challenge.category.image.url
                            = link_to challenge_path(challenge.id), class: 'btn btn-primary btn-block btn-flat btn-large' do
                              = image_tag 'list-hexagon.png'
                              ¡Hazlo!
                      -else
                        %h4.text-center
                          No existen retos del salon.
                    .row
                      %h3.text-center
                        Proyectos
                      - if @day.get_homework_challenges.length > 0
                        - @day.challenges.each do |challenge|
                          .col-md-4.text-center
                            .challenge-box
                              %h4
                                = challenge.title
                              .image
                                = image_tag challenge.category.image.url
                            = link_to challenge_path(challenge.id), class: 'btn btn-primary btn-block btn-flat btn-large' do
                              = image_tag 'list-hexagon.png'
                              ¡Hazlo!
                      -else
                        %h4.text-center
                          Aun no hay retos del sprint.
                - else
                  %h3.text-center
                    Hoy no hay retos, pero siempre hay mucho que hacer!
                    %h4.text-center
                      Aprovecha y haz preguntas claves a los mentores!
    - if current_user.email == "mentores@hack4geeks.co"
      .row.mentor-zone
        .col-md-12
          %h3
            Zona de mentores
      .row
        .col-md-3
          %img.dementor{src:"http://fc02.deviantart.net/fs71/f/2012/280/8/d/dementor_painted_by_blackplague1348-d5h51vj.jpg"}
        .col-md-9
          .row
            .col-md-12
              = link_to 'Editar este dia', edit_admin_day_path(@day), class: 'btn btn-primary btn-flat btn-block'
          .row
            .col-md-12
              = link_to 'Agregar reto', new_admin_challenge_path(:challenge => { :day_id => @day.id }), class: 'btn btn-info btn-flat btn-block'