.badges
  .item
    .row
      .col-md-12
        .row.text-center
          - @days.each do |day|
            .day_box{'data-name' => day.name}
              - if day.active?
                -if @day.id == day.id
                  = image_tag 'black_hexagon.png', class: 'on'
                  = image_tag day.image.url
                - else
                  = link_to day_path(day.id) do
                    = image_tag 'black_hexagon.png', class: 'off'
                    = image_tag day.image.url
              - elsif day.blocked?
                = image_tag 'black_hexagon.png', class: 'locked'
                = image_tag day.image.url
                .day_overlay
                  = image_tag "locked.png"
              - elsif day.done?
                = image_tag day.image.url
                .day_overlay
                  = image_tag 'black_hexagon.png', class: 'locked'
                  = image_tag "fullfilled.png", class: 'fullfilled'
              - else
                = image_tag 'black_hexagon.png', class: 'locked'
                = image_tag "0.png"
.content-white
  .container
    %h1.blue-text.text-center
      %span.day-title
        = @day.name
      -#%buton.btn.btn-default.btn-xs.day-name-edit
      -#  %span.glyphicon.glyphicon-pencil{'aria-hidden'=>'true'}
    .row
      - if @day.challenges.length > 0
        .row
          %h2
            Retos en clase
          - @day.challenges.each do |challenge|
            - if challenge.time == 'classroom'
              .col-md-4.text-center
                .challenge-box
                  %h3
                    = challenge.title
                  .image
                    = image_tag challenge.category.image.url
                = link_to challenge_path(challenge.id), class: 'btn btn-primary btn-block btn-flat btn-large' do
                  = image_tag 'list-hexagon.png'
                  ¡Hazlo!
        .row
          %h2
            Retos del sprint
          - @day.challenges.each do |challenge|
            - if challenge.time == 'homework'
              .col-md-4.text-center
                .challenge-box
                  %h3
                    = challenge.title
                  .image
                    = image_tag challenge.category.image.url
                = link_to challenge_path(challenge.id), class: 'btn btn-primary btn-block btn-flat btn-large' do
                  = image_tag 'list-hexagon.png'
                  ¡Hazlo!
      - else
        %h1.text-center
          Hoy no hay retos, pero siempre hay mucho que hacer!
          %h4.text-center
            Aprovecha y haz preguntas claves a los mentores!
    - if current_user.email == "mentores@hack4geeks.co"
      .row.mentor-zone
        .col-md-12
          %h3
            Zona de mentores
      .row
        .col-md-3
          %img.dementor{src:"http://fc02.deviantart.net/fs71/f/2012/280/8/d/dementor_painted_by_blackplague1348-d5h51vj.jpg"}
        .col-md-9
          .row
            .col-md-12
              = link_to 'Editar este dia', edit_admin_day_path(@day), class: 'btn btn-primary btn-flat btn-block'
          .row
            .col-md-12
              = link_to 'Agregar reto', new_admin_challenge_path(:challenge => { :day_id => @day.id }), class: 'btn btn-info btn-flat btn-block'