%h2.text-center
  = image_tag 'full-logo.png'
= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .col-sm-4.col-sm-offset-4
    = f.label :Email
    = f.email_field :email, autofocus: true, class: 'form-control'
    = f.label :Contraseña
    = f.password_field :password, autocomplete: 'off', class: 'form-control'
    - if devise_mapping.rememberable?
      = f.check_box :remember_me
      = f.label :Recuerdame
    = f.submit 'Iniciar sesión', class: 'btn btn-primary btn-block'
    = render "devise/shared/links"