- if @academic_days
  .badges
    .item
      .row
        .col-md-12
          .row.text-center.left-5
            - @academic_days.each do |academic_day|
              .day_box{'data-name' => academic_day.day.name}
                - if academic_day.active?
                  -if @academic_day.id == academic_day.day.id
                    .box-off
                      = image_tag 'black_hexagon.png', class: 'on'
                    = image_tag academic_day.day.image.url
                  - else
                    = link_to academic_day_path(academic_day.day) do
                      .box-off
                        = image_tag 'black_hexagon.png', class: 'off'
                      = image_tag academic_day.day.image.url
                - elsif academic_day.blocked?
                  .box-off
                    = image_tag 'black_hexagon.png', class: 'locked'
                  = image_tag academic_day.day.image.url
                  .day_overlay
                    = image_tag "locked.png"
                - elsif academic_day.done?
                  = image_tag academic_day.day.image.url
                  .day_overlay
                    .box-off
                      = image_tag 'black_hexagon.png', class: 'locked'
                    = image_tag "fullfilled.png", class: 'fullfilled'
                - else
                  .box-off
                    = image_tag 'black_hexagon.png', class: 'locked'
                  = image_tag "0.png"
.content-white
  .container
    %h1.white-title.text-center
      %span.day-title
        Editando reto para el dia:
        = @challenge.day.name
    .row
      .col-md-12
        = form_for @challenge do |f|
          .form-group
            = f.label :title
            = f.text_field :title, class: 'form-control'
          .form-group
            = f.label :category
            = f.collection_select :category_id, Category.all, :id, :name, {}, class: 'form-control'
          .row
            .col-md-6
              .form-group
                = f.label :description
                = f.text_area :description, class: 'no-style-textarea challenge'
            .col-md-6
              .form-group
                = f.label :preview
              .row
                .col-md-12
                  %h1.text-center
                    = @challenge.title
              .row
                .col-md-12.challenge-marked
          .form-group
            = f.submit :create, class: 'form-control btn btn-info'