.container
  .row
    .col-md-12
      %h2
        Seleccionar el dia del reto a cargar
  .row.white-box
    - @weeks.each do |week|
      .col-md-12
        Semana
        = week.number
        %span.text-info
          = week.name
        .row.week_day
          .col-md-1
          - week.days.each do |day|
            = link_to mentor_create_challenge_path day do
              .col-md-2.text-center.day_block
                = image_tag day.image_file_name, :class => "day_img"
                %span.text-info.day_name
                  = truncate day.name, length: 30