.container
  .row
    .col-md-5.col-md-offset-7
      %h3
        = @challenge.day.name
        = image_tag @challenge.day.image.url :thumb
.challenge_box
  .container.challenge_description
    .row
      .col-md-12
        %h1.text-center
          = @challenge.title
    .row
      .col-md-12
        %p
          = simple_format @challenge.description
    .row
      .col-md-12.text-right
        - if current_user.github_user && @delivery && @delivery.challenge_repo && @delivery.challenge_url
          %span.github-url
            El nombre del repositorio a entregar es:
            %a{href: @delivery.challenge_url}
              = @delivery.challenge_repo
        - else
          %span.github-url
            Para entregar deben agregar tu usuario de github a tu perfil.
    - if current_user.email == 'mentores@hack4geeks.co'
      .row
        .col-md-12
          %h3
            Zona de entrega
      .row
        .col-md-12
          %p
            La entrega es el hash del commit en github, copialo desde github o la consola
            %em
              git log -n 1
            y pegalo en el campo de texto. Si es un reto diario tienes hasta el mismo dia hasta las 11:59pm para entregar. Si es un reto del sprint tienes hasta el lunes a las 9:30am para entregar.
      - if @delivery
        %hr
        .row
          .col-md-12
            .repo_preview{'data-group'=>@promo_group.value, 'data-repo'=>@delivery.challenge_repo}
        %hr
      .row
        .col-md-8.col-md-offset-2
          - if current_user.github_user && @challenge.status == 1
            = form_for @delivery, html: {class:'form-inline'} do |f|
              = f.hidden_field :user_id, value: @delivery.user.id
              = f.hidden_field :challenge_id, value: @delivery.challenge.id
              .row
                .col-md-7
                  = f.text_field :commit, type:"text", class:"form-control full-width btn-flat text-center"
                .col-md-5
                  = f.submit 'Cargar git commit', class: 'btn btn-primary btn-flat btn-block'
          - else
            .row
              .col-md-12
                %h4.text-center
                  El reto esta cerrado (ya no esta permitido entregar) o no tienes github username.
          .row
            .col-md-12
              -if @delivery && @delivery.commit
                %a.btn.btn-info.btn-flat.btn-block{href: @delivery.commit_url, target: 'blank'}
                  Ver ultimo commit en github
    - unless current_user.email == "mentores@hack4geeks.co"
      .row.mentor-zone
        .col-md-12
          %h3
            Zona de mentores
      .row
        .col-md-12
          = link_to 'Editar este reto', edit_admin_challenge_path(@challenge), class: 'btn btn-primary btn-flat btn-block'
      %hr
      .row
        .col-md-3
          %img.dementor{src:"http://fc02.deviantart.net/fs71/f/2012/280/8/d/dementor_painted_by_blackplague1348-d5h51vj.jpg"}
        .col-md-9
          .row
            .col-md-12
              %table.table
                %thead
                  %tr
                    %th.text-center
                      Status
                    %th
                      Email del estudiante
                    %th
                      Fecha y hora de la entrega
                    %th
                      Commit
                    %th.text-center{colspan:2}
                      Review
                %tbody
                  - if @deliveries && @deliveries.length > 0
                    - @deliveries.each do |delivery|
                      %tr
                        %td.text-center
                          - if delivery.status.nil?
                            %span.glyphicon.glyphicon-eye-open{'aria-hidden'=>'true'}
                          - elsif delivery.status == 0
                            %span.delivery-rejected.glyphicon.glyphicon-remove{'aria-hidden'=>'true'}
                          - elsif delivery.status == 1
                            %span.delivery-ok.glyphicon.glyphicon-ok{'aria-hidden'=>'true'}
                          - else
                            Status no reconocido
                        %td
                          = delivery.user.email
                        %td
                          = delivery.created_at.strftime("%d/%m/%Y %I:%M%p")
                        %td
                          %a{href: delivery.commit_url}
                            = delivery.commit.truncate(7, omission: '')
                        - if @challenge.status == 1
                          %td.text-center{colspan:2}
                            Reto abierto.
                        - else
                          %td
                            = link_to 'Aceptar', delivery_review_path(id:delivery.id, status:1), class: 'btn btn-primary btn-flat btn-block'
                          %td
                            = link_to 'Rechazar', delivery_review_path(id:delivery.id, status:0), class: 'btn btn-info btn-flat btn-block'
                  - else
                    %tr
                      %td.text-center{colspan:5}
                        No hay entregas aun!
  .container.disqus_box
    .row
      .col-md-12
        #disqus_thread
        %noscript
          Please enable JavaScript to view the
          %a{href: "https://disqus.com/?ref_noscript", rel: "nofollow"}
            comments powered by Disqus.
