.container
  .row
    .col-md-5.col-md-offset-7
      %h3.text-right
        = @challenge.day.name
        = image_tag @challenge.day.image.url :thumb
.challenge_box
  .container.challenge_description
    .row
      .col-md-12
        %h1.text-center
          = @challenge.title
    .row
      .col-md-12
        %p
          = simple_format @challenge.description
    - unless current_user.email == "mentores@hack4geeks.co"
      .row
        .col-md-12
          - if @delivery && @delivery.project_id && @delivery.commits.length < 1
            %h3.text-center
              Instrucciones de la linea de comando
            %h4
              Configuración global de git
            .well
              git config --global user.name #{current_user.gitlab_user}</br>
              git config --global user.email #{current_user.email}</br>
            %h4
              Crear un repositorio nuevo
            .well
              git clone #{@delivery.git_ssh_url}</br>
              cd #{@delivery.repo_name}</br>
              touch README.md</br>
              git add README.md</br>
              git commit -m "add README"</br>
              git push -u origin master</br>
            %h4
              Carpeta o repositorio existente
            .well
              cd existing_folder</br>
              git init</br>
              git remote add origin #{@delivery.git_ssh_url}</br>
              git push -u origin master</br>
          - elsif @delivery && @delivery.commits
            .row
              .col-md-12
                %h3
                  Zona de entrega
            %table.table.table-striped.table-hover
              %thead
                %tr
                  %th.text-center
                    Commit id
                  %th.text-center
                    Autor
                  %th.text-center
                    Fecha
                  %th.text-center{colspan: 2}
                    Mensaje
                  %th.text-center
                    Entrega
              %tbody
                - @delivery.commits.each do |commit|
                  %tr
                    %td.text-center
                      %a{href: @delivery.commit_url}
                        = commit.short_id
                    %td.text-center
                      = commit.author_email
                    %td.text-center
                      = Time.parse(commit.created_at).localtime("-04:30").strftime("%d/%m/%Y %-l:%M %P")
                    %td.text-center{colspan: 2}
                      = commit.message.truncate 100
                    %td.text-center
                      - if @delivery.commit == commit.id 
                        .btn.btn-primary.btn-flat.btn-block Seleccionado
                      - else 
                        = link_to 'Entregar', delivery_path(@delivery, commit:commit.id, challenge_id: @challenge.id), class: 'btn btn-info btn-flat btn-block', method: :put
          - else
            = link_to 'Crear repositorio en gitlab', deliveries_path(challenge_id: @challenge.id), class: 'btn btn-primary btn-flat btn-block', method: 'post'
        .col-md-12.text-right
          - if current_user.gitlab_user && @delivery && @delivery.repo_name && @delivery.challenge_url
            %span.github-url
              El nombre del repositorio a entregar es:
              %a{href: @delivery.challenge_url, target:"blank"}
                = @delivery.repo_name
          - else
            %span.github-url
              Para entregar deben agregar tu usuario de gitlab a tu perfil.
    - else 
      .row.mentor-zone
        .col-md-12
          %h3
            Zona de mentores
      .row
        .col-md-12
          = link_to 'Editar este reto', edit_admin_challenge_path(@challenge), class: 'btn btn-primary btn-flat btn-block'
      %hr
      .row
        .col-md-3
          %img.dementor{src:"http://fc02.deviantart.net/fs71/f/2012/280/8/d/dementor_painted_by_blackplague1348-d5h51vj.jpg"}
        .col-md-9
          .row
            .col-md-12
              %table.table
                %thead
                  %tr
                    %th.text-center
                      Status
                    %th
                      Email del estudiante
                    %th
                      Fecha y hora de la entrega
                    %th
                      Commit
                    %th.text-center{colspan:3}
                      Review
                %tbody
                  - if @deliveries && @deliveries.length > 0
                    - @deliveries.each do |delivery|
                      %tr
                        %td.text-center
                          - if delivery.status.nil?
                            %span.glyphicon.glyphicon-eye-open{'aria-hidden'=>'true'}
                          - elsif delivery.status == 0
                            %span.delivery-rejected.glyphicon.glyphicon-remove{'aria-hidden'=>'true'}
                          - elsif delivery.status == 1
                            %span.delivery-ok.glyphicon.glyphicon-ok{'aria-hidden'=>'true'}
                          - else
                            Status no reconocido
                        %td
                          = delivery.user.email
                        %td
                          = delivery.created_at.strftime("%d/%m/%Y %I:%M%p")
                        %td
                          %a{href: delivery.commit_url}
                            = delivery.commit.truncate(7, omission: '')
                        - if @challenge.status == 1
                          %td.text-center{colspan:2}
                            Reto abierto.
                        - else
                          %td
                            = link_to 'Aceptar', delivery_review_path(id:delivery.id, status:1), class: 'btn btn-primary btn-flat btn-block'
                          %td
                            = link_to 'Rechazar', delivery_review_path(id:delivery.id, status:0), class: 'btn btn-info btn-flat btn-block'
                  - else
                    %tr
                      %td.text-center{colspan:5}
                        No hay entregas aun!
  .container.disqus_box
    .row
      .col-md-12
        #disqus_thread
        %noscript
          Please enable JavaScript to view the
          %a{href: "https://disqus.com/?ref_noscript", rel: "nofollow"}
            comments powered by Disqus.
