.container
  .row
    .col-md-5.col-md-offset-7
      %h3
        = @challenge.day.name
        = image_tag @challenge.day.image.url :thumb
.challenge_box
  .container.challenge_description
    .row
      .col-md-12
        %h1.text-center
          = @challenge.title
    .row
      .col-md-12
        %p
          = simple_format @challenge.description
    .row
      .col-md-12.text-right
        - if @challenge_repo && @challenge_url
          %span.github-url
            El nombre del repositorio a entregar es:
            %a{href: @challenge_url}
              = @challenge_repo
        - else
          %span.github-url
            Para entregar deben agregar tu usuario de github a tu perfil.
  .container.disqus_box
    .row
      .col-md-12
        #disqus_thread
        %noscript
          Please enable JavaScript to view the
          %a{href: "https://disqus.com/?ref_noscript", rel: "nofollow"}
            comments powered by Disqus.
