.container
  %h1.text-center
    = @day.name
  .row
    - @days.each do |day|
      .day_box
        - if day.active?
          = image_tag 'black_hexagon.png', class: 'off'
          = image_tag day.image.url
        - elsif day.blocked?
          = image_tag 'black_hexagon.png', class: 'locked'
          = image_tag day.image.url
          .day_overlay
            = image_tag "locked.png"
        - elsif day.done?
          = image_tag day.image.url
          .day_overlay
            = image_tag 'black_hexagon.png', class: 'locked'
            = image_tag "fullfilled.png", class: 'fullfilled'
        - else
          = image_tag 'black_hexagon.png', class: 'locked'
          = image_tag "0.png"
  .row
    - @day.challenges.each do |challenge|
      .col-md-3.text-center
        %div
          = image_tag challenge.category.image.url
        %h4
          = challenge.title
