.badges
  #badges_carousel.carousel.slide{"data-ride" => "carousel", "data-interval" => "false"}
    .carousel-inner
      - @weeks.each_with_index do |week, i|
        %a.left.carousel-control{"href" => "#badges_carousel", "role" => "button", "data-slide" => "prev"}
          = image_tag 'arrow-left.png'
        %a.right.carousel-control{"href" => "#badges_carousel", "role" => "button", "data-slide" => "next"}
          = image_tag 'arrow-right.png'
        .item{class: ("active" unless i != 0)}
          .row
            .col-md-12
              %h1.text-center
                = week.name
              .row.text-center
                - week.days.each do |day|
                  .day_box{'data-name' => day.name}
                    - if day.active?
                      = link_to activities_day_path(day.id) do
                        = image_tag 'black_hexagon.png', class: 'off'
                        = image_tag day.image.url
                    - elsif day.blocked?
                      = image_tag 'black_hexagon.png', class: 'locked'
                      = image_tag day.image.url
                      .day_overlay
                        = image_tag "locked.png"
                    - elsif day.done?
                      = image_tag day.image.url
                      .day_overlay
                        = image_tag 'black_hexagon.png', class: 'locked'
                        = image_tag "fullfilled.png", class: 'fullfilled'
                    - else
                      = image_tag 'black_hexagon.png', class: 'locked'
                      = image_tag "0.png"
    .text-center
      .badge-title
    #breadcrumb
      %a.next-prev{"data-target" => "#badges_carousel", "data-slide" => "prev"}
        .arrow-left
      %ol.carousel-indicators
        - @weeks.each_with_index do |week, i|
          %li{"data-target" => "#badges_carousel", "data-slide-to" => i}
            = i + 1
      %a.next-prev{"data-target" => "#badges_carousel", "data-slide" => "next"}
        .arrow-right