!!! 5
%html
%head
  %title
    Plataforma Hack
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
%body.mosaic
  
  %header.navbar.navbar-default.navbar-fixed-top
    .container.caret-box
      .navbar-header
        %a.navbar-brand{href: '#'}
          = image_tag "logo.png"
      %nav#categorias.collapse.navbar-collapse.bs-navbar-collapse{role: 'navigation'}
        %ul.nav.navbar-nav
          %li.menu-login
            %a{href: '#'}
              Noticias
              .caret_header
                %span
          %li.active.menu-registro
            %a{href: '#'}
              Actividades
              .caret_header
                %span
        - if user_signed_in?
          %ul#menu-logged-menu.nav.navbar-nav.navbar-right
            %li.perfilLink.menu-username
              %a{href: '#'}
                = current_user.email
            %li.outperfil.pull-right.menu-salir
              = link_to destroy_user_session_path, method: 'delete' do
                %span.glyphicon.glyphicon-off

      %button.navbar-toggle.collapsed{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .caret_header_2
  - flash.each do |name, msg|
    = content_tag :p, msg, class: "alert alert-info"
  = yield