!!! 5
%html
%head
  %title
    Plataforma Hack
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
%body.mosaic
  
  %header.navbar.navbar-default.navbar-fixed-top
    .container.caret-box
      .navbar-header
        %a.navbar-brand{href: '#'}
          = image_tag "logo.png"
      %nav#categorias.collapse.navbar-collapse.bs-navbar-collapse{role: 'navigation'}
        %ul.nav.navbar-nav
          %li.menu-login
            %a{href: '#'}
              Noticias
              .caret_header
                %span
          %li.active.menu-registro
            %a{href: '#'}
              Actividades
              .caret_header
                %span
      %button.navbar-toggle.collapsed{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .caret_header_2
  %p.notice
    = notice
  %p.alert
    = alert
  = yield