!!! 5
%html
  %head
    %title
      Plataforma Hack
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = favicon_link_tag 'favicon.ico'
  %body{class: [current_user.mentor ? 'mosaic1' : (current_user.operation ? 'mosaic2' : 'mosaic'), controller_name, action_name]}
    -if current_user.mentor
      .ribbon
        %span
          MENTOR
    -elsif current_user.operation
      .ribbon
        %span
          OPERATIONS
    %header
      %nav.navbar.navbar-default.navbar-hack.navbar-fixed-top
        .container
          .navbar-header
            %button.navbar-toggle.collapsed{"data-target" => "#menu", "data-toggle" => "collapse", type: "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            = link_to root_path, class: 'navbar-brand' do
              = image_tag "logo.png"
          #menu.navbar-collapse.collapse
            %ul.nav.navbar-nav
              %li.active
                = link_to weeks_path do
                  Actividades
              %li
                = link_to projects_path do
                  Proyectos
            - if user_signed_in?
              %ul.nav.navbar-nav.navbar-right
                %li
                  %a{href:"#"}
                    = current_user.email
                %li
                  = link_to destroy_user_session_path, method: 'delete' do
                    %span.glyphicon.glyphicon-off
    - flash.each do |name, msg|
      = content_tag :p, msg, class: "alert alert-info feedback-alert"
    .hack-container
      = yield
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %script{src:"//tinymce.cachefly.net/4.1/tinymce.min.js"}
    %script{src:"//d1ks1friyst4m3.cloudfront.net/toolbar/prod/td.js",async:'async', "data-trackduck-id"=>"570563a74eef1af76d6a904f"}