!!! 5
%html
  %head
    %title
      Plataforma Hack
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = favicon_link_tag 'favicon.ico'
    = csrf_meta_tags
  %body
    %header
      %nav.navbar.navbar-default.navbar-hack.navbar-fixed-top
        .container
          .navbar-header
            %button.navbar-toggle.collapsed{"data-target" => "#menu", "data-toggle" => "collapse", type: "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            = link_to root_path, class: 'navbar-brand' do
              = image_tag "logo.png"
          #menu.navbar-collapse.collapse
            %ul.nav.navbar-nav
              %li.active
                %a{href:"#"}
                  Login
    - flash.each do |name, msg|
      = content_tag :p, msg, class: "alert alert-info feedback-alert"
    .hack-container
      = yield
  %script{src:"//tinymce.cachefly.net/4.1/tinymce.min.js"}
